<div class="row">
  <div class="col-xs-8 col-xs-push-2">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="container-fluid">
  <div class="profile-row">
    <div class="col-xs-2 col-xs-push-2 img">
      <%= image_tag 'defaultuser.png', class: 'circle-profile-pic'%>
    </div>
    <div class="col-xs-6 col-xs-push-2">
      <div class="row">
        <div class="col-xs-12 about">
          <p>
            <span style="font-size:36px">
              <%= "@#{@user.username}" %><br>
            </span>
            <strong>Posts:</strong>
            <%= 10 %>
            <a href=<%= "#" %>>
              <strong>&nbsp;&nbsp;&nbsp;&nbsp;Followers:</strong>
              <%= 123 %>
            </a>
            <a href=<%= "#" %>>
              <strong>&nbsp;&nbsp;&nbsp;&nbsp;Following:</strong>
              <%= 123 %><br>
            </a>
            <strong><%= "Graham Tschieder" %></strong>
            <%= "I'm a user, and this is my bio." %>
          </p>

          <% if current_user %>
            <div class="row">
              <% if current_user %>
                <%= link_to 'New Post', '#' %> |
                <%= link_to 'Edit Info', '#' %> |
                <%= link_to 'Delete Account', '#' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

