<%= render :partial => "shared/flash_field", :locals => {:flash => flash} %>

<div class="container-fluid">
  <div class="profile-row">
    <div class="col-xs-2 col-xs-push-2 img">
      <%= "Missing image" %>
    </div>
    <div class="col-xs-6 col-xs-push-2">
      <div class="row">
        <div class="col-xs-12 about">
          <p>
            <span style="font-size:36px">
              <%= "@#{@user.username}" %><br>
            </span>
            <strong>Posts: <%= @user.images.length %></strong>
            <strong><%= link_to "Followers: #{@user.followers.length}", followers_path %></strong>
            <strong><%= link_to "Following: #{@user.following.length}", following_path %></strong><br>
            <strong><%= "#{@user.full_name}" %></strong>
            <%= "#{@user.bio}" %>
          </p>

          <% if user_signed_in? %>
            <div class="row">
              <% if @user == current_user %>
                <%= link_to 'New Post', image_upload_path %> |
                <%= link_to 'Edit Info', edit_user_registration_path %> |
                <%= link_to 'Delete Account', registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
              <% else %>
                <%= link_to 'Follow', '#' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= render :partial => 'shared/images_grid', :locals => { image_list: @user.images, with_author: false } %>