<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "LOGO_HERE", root_path, id: "placeholder_logo" %>
    </div>

    <%= form_with url: search_path, local: true, method: :get, html: { class: "" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2" %>
      <%= form.button "Search" %>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Feed", images_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Home',  show_path(current_user) %></li>
	    <li><%= link_to 'Sign out',  destroy_user_session_path, method: :delete %></li>
      <% else %>
	    <li><%= link_to 'Sign in', new_user_session_path %></li>
	    <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>