<header class="navbar navbar-default">
  <div class="navbar-container">
    <%= link_to "HackStreet_Images", welcome_path, id: "logo-button" %>
    <nav>
      <ul>
        <li><%= link_to "Home", images_path %></li>
	<li>
	  <% if current_user %>
	    <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
	  <% else %>
	    <%= link_to 'Sign in', new_user_session_path %>
	    <%= link_to 'Sign up', new_user_registration_path %>
	  <% end %>
	</li>
      <ul>
    </nav>
  </div>
</header>
