<h3>Post new image</h3>
<%= form_with(model: @image, url: create_path,  local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :image_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :image_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image_datafile %>
  </div>

  <div class="field">
    <%= form.label :Make_photo_public %>
    <%= form.check_box :privacy_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>