<!--Created by Graham Tshieder-->
<!--Styled by Jalen Soat-->
<h3 class="imagetitle"><%= @image.name %></h3>
<div class = "imageframe">
    <%= image_tag @image.image_datafile, :class => "imagedisplay" %>
    <!--<p><%= @image.description %></p!-->
</div>

<% if user_signed_in? && @image.user_id == current_user.id %>
  <%= link_to 'Delete Post', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>

<%flash.each do |name, msg| %>
    <p><%=msg%></p><br/>
<%end%>


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading-2">
                        <%= form_for [@image, @image.comments.build] do |f| %>
                            <%= f.text_area :content, placeholder: "Add a comment", class: "status-upload" %><br/>
                            <%= f.submit "Add Comment", class: "btn-green" %>
                            <%end%>
                    </div>
                </div>
            </div>
        </div>
        

      <% @image.comments.each do |com| %>
      <% if !com.content.nil?%>
      <% if !com.content.empty? %>
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <%= image_tag(display_avatar(User.find(com.user_id)),  :class => "img-circle avatar") %>
                        <%#= image_tag(User.find(com.user_id).profile_image_datafile, class: "img-circle avatar", alt: "user profile image") %>
                    
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="/user/<%=com.user_id%>"><b><%=User.find(com.user_id).username%></b></a>
                        </div>
                        <h6 class="text-muted time"><%=com.created_at.to_formatted_s(:long)%></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p><%=com.content%></p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
