<p>Some Image</p>

<h3 class="imagetitle"><%= @image.name %></h3>
<%= image_tag @image.image_datafile %>
<p><%= @image.description %></p>


<h3>Comments</h3>

<%= form_for [@image, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: "Add a comment" %><br/>
    <%= f.submit "Add Comment" %>
<% end %>

<ul>
    <% @image.comments.each do |c|%>
        <li><%c.content%></li>
    <%end%>
</ul>

