<p>Some Image</p>

<h3 class="imagetitle"><%= @image.name %></h3>
<%= image_tag @image.image_datafile %>
<p><%= @image.description %></p>


<h3>Comments</h3>

<%flash.each do |name, msg| %>
    <p><%=msg%></p><br/>
<%end%>

<ul>
    
</ul>
<div class="container">
    <div class="row">
        
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    
                    <%= form_for [@image, @image.comments.build] do |f| %>
                        <%= f.text_area :content, placeholder: "Add a comment" %><br/>
                        <%= f.submit "Add Comment" %>
                    <%end%>

                </div>
            </div>
        </div>
        

      <% @image.comments.each do |com| %>
      <% if !com.content.nil?%>
      <% if !com.content.empty? %>
      <% if com.user.nil? %>
      <p> this is nil </p>
      <% end %>
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="<%=User.find(com.user_id).prof_pic_url%>" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b><%=User.find(com.user_id).username%> id</b></a>
                        </div>
                        <h6 class="text-muted time"><%=com.created_at.to_formatted_s(:long)%></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p><%=com.content%></p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
