<%#Page formatted by Jalen Soat and Graham Tschieder and Nick Nitta%>

<h3 class="imagetitle"><%= @image.name %></h3>

<% if user_has_view_permission(@image, current_user) %>

<div class = "imageframe">
    <%= image_tag @image.image_datafile, :class => "imagedisplay" %>
    <!--<p><%= @image.description %></p!-->
</div>

<div class="deletefavorite">
<% if user_signed_in? && @image.user_id == current_user.id %>
  <%= button_to "Delete Post", @image, :method => "delete", :class => "btn btn-secondary " %>
<% end %>


<% if user_signed_in? %>
    <% if favorite_check current_user, @image %>
      <%= form_for @image, url: unfav_path(@image), html: {method: "delete"} do |f| %>
        <%=f.submit "Unfavorite", class: "btn btn-secondary deletefavoritebtn" %>
      <%end%>
    <% else %>
      <%= form_for @image, url: fav_path(@image), html: {method: "post"} do |f| %>
        <%=f.submit "Favorite", class: "btn btn-secondary deletefavoritebtn" %>
      <%end%>
    <% end %>


<% end %>
</div>

<%#Written and implemented by Jalen Soat%>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading-2">
                        <%= form_for [@image, @image.comments.build] do |f| %>
                            <%= f.text_area :content, placeholder: "Add a comment", class: "status-upload" %><br/>
                            <%= f.submit "Add Comment", class: "btn-green" %>
                            <%end%>
                    </div>
                </div>
            </div>
        </div>
        

      <% @image.comments.each do |com| %>
      <% if !com.content.nil?%>
      <% if !com.content.empty? %>
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <%= image_tag(display_avatar(User.find(com.user_id)),  :class => "img-circle avatar") %>
                        <%#= image_tag(User.find(com.user_id).profile_image_datafile, class: "img-circle avatar", alt: "user profile image") %>
                    
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="/user/<%=com.user_id%>"><b><%=User.find(com.user_id).username%></b></a>
                        </div>
                        <h6 class="text-muted time"><%=com.created_at.to_formatted_s(:long)%></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p><%=com.content%></p>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>

<%else%>
   <strong><%= "You must follow this user to view their private images" %></strong>
<%end%>
