<div class="container-fluid">
  <div class="profile-row">
    <div class="col-xs-2 col-xs-push-2 img">
      <%= image_tag display_avatar(@user)%>
    </div>
    <div class="col-xs-6 col-xs-push-2">
      <div class="row">
        <div class="col-xs-12 about">
          <p>
            <span style="font-size:36px">
              <%= "@#{@user.username}" %><br>
            </span>
            <strong>Posts:</strong>
            <%= 10 %>
            <%= link_to root_path %>
            <strong>Followers:</strong>
            <%= link_to "#{@user.followers.length}", @user.followers %>
            <strong>Following:</strong>
            <%= link_to "#{@user.followeds.length}", @user.followeds %><br>
            <strong><%= "#{@user.full_name}" %></strong>
            <%= "#{@user.bio}" %>
          </p>

          <% if user_signed_in? %>
            <div class="row">
              <% if @user == current_user %>
                <%= link_to 'New Post', image_upload_path %> |
                <%= link_to 'Edit Info', edit_user_registration_path %> |
                <%= link_to 'Delete Account', registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
              <% else %>
                <%= link_to 'Follow', '#' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= @user.followers.each do |follower| %>
    <div>
        <p>
            <%= follower.full_name%>
            <%= follower.username %> <br/>
        </p>
    </div>
    <hr>
<% end %>