<!-- Created By Ivan Lavrov shared image display partial -->

<div class="image-grid">

<% image_list.each do |img|%>
  
  <div class="grid-item">
    
    <div class="hovering-author">
      <% if !img.user_id.nil? && with_author %>
        <% owner = User.find(img.user_id).username %>
        <%= img.name.to_s %> <%= link_to(" by #{owner}", show_path(owner))  %>
      <% end %>
    </div>
    
    <%= link_to(img) do %>
      <div class="centering-container">
        <%= image_tag img.image_datafile.variant(resize: '360x360x'), class: "centered" %>
      </div>
    <% end %>

    <div class="hovering-likes"> <%= num_of_likes img %></div>
  </div>
  
<% end %>

</div>